extends /resources/angle/pug/table-checkable

block headings
    th.sortable(ng-if="table.showSource")
        span(translate="pkg.backup.admin.recurring.heading.SOURCE")
        sort(col="source_id")
    th.sortable(ng-if="table.showDestination")
        span(translate="pkg.backup.admin.recurring.heading.DESTINATION")
        sort(col="destination_id")
    th.sortable(ng-if="table.showPeriod")
        span(translate="pkg.backup.admin.recurring.heading.PERIOD")
        sort(col="period")
    th.sortable(ng-if="table.showCreatedAt")
        span(translate="pkg.backup.admin.recurring.heading.CREATED_AT")
        sort(col="created_at")
        th.sortable(ng-if="table.showUpdatedAt")
            span(translate="pkg.backup.admin.recurring.heading.UPDATED_AT")
            sort(col="updated_at")

block columns
    td(
    ng-if="table.showSource"
    ng-bind="row.source"
    )
    td(
    ng-if="table.showDestination"
    ng-bind="row.destination"
    )
    td(
    ng-if="table.showPeriod"
    ng-bind="row.period"
    )
    td(
    ng-if="table.showCreatedAt"
    ng-bind="row.created_at"
    )
    td(
    ng-if="table.showUpdatedAt"
    ng-bind="row.updated_at"
    )
