extends /resources/angle/pug/table-checkable

block headings
    th.sortable(ng-if="table.showSource")
        span(translate="archive.heading.SOURCE")
        sort(col="source_id")
    th.sortable(ng-if="table.showDestination")
        span(translate="archive.heading.DESTINATION")
        sort(col="destination_id")
    th.sortable(ng-if="table.showRecurring")
        span(translate="archive.heading.RECURRING")
        sort(col="recurring_id")
    th.sortable(ng-if="table.showStatus")
        span(translate="archive.heading.STATUS")
        sort(col="status")
    th.sortable(ng-if="table.showCreatedAt")
        span(translate="archive.heading.CREATED_AT")
        sort(col="created_at")
        th.sortable(ng-if="table.showUpdatedAt")
            span(translate="archive.heading.UPDATED_AT")
            sort(col="updated_at")
    th(
    ng-if="table.showActions"
    translate="archive.heading.ACTIONS"
    )

block columns
    td(
    ng-if="table.showSource"
    ng-bind="row.source"
    )
    td(
    ng-if="table.showDestination"
    ng-bind="row.destination"
    )
    td(
    ng-if="table.showRecurring"
    ng-bind="row.recurring"
    )
    td(
    ng-if="table.showStatus"
    ng-bind="row.status"
    )
    td(
    ng-if="table.showCreatedAt"
    ng-bind="row.created_at.date"
    )
    td(
    ng-if="table.showUpdatedAt"
    ng-bind="row.updated_at.date"
    )
    td(ng-if="table.showActions")
        .btn-group.btn-group-xs
            a.btn.btn-default(
            ui-sref="app.backup.archive.view({id: row.id})"
            translate="app.action.EDIT"
            )
