doctype html
include /resources/angle/pug/mixins/form

+label("{{ 'pkg.backup.admin.archive.form.source.LABEL' | translate }}")
    .input-group
        +ui-select("archiveForm.sources")(ng-model="archiveForm.input.source")
            ui-select-match(placeholder="{{ 'pkg.backup.admin.archive.form.source.PLACEHOLDER' | translate }}")
                | {{ $select.selected.name }}
            +ui-select-choices("archiveForm.sources")
                span(ng-bind-html="choice.name | highlight: $select.search")
        span.input-group-btn
            button.btn.btn-default(
            type="button"
            ng-click="archiveForm.input.source = null"
            )
                span.fa.fa-times-circle

+label("{{ 'pkg.backup.admin.archive.form.destination.LABEL' | translate }}")
    .input-group
        +ui-select("archiveForm.destinations")(ng-model="archiveForm.input.destination")
            ui-select-match(placeholder="{{ 'pkg.backup.admin.archive.form.destination.PLACEHOLDER' | translate }}")
                | {{ $select.selected.name }}
            +ui-select-choices("archiveForm.destinations")
                span(ng-bind-html="choice.name | highlight: $select.search")
        span.input-group-btn
            button.btn.btn-default(
            type="button"
            ng-click="archiveForm.input.destination = null"
            )
                span.fa.fa-times-circle

+label("{{ 'pkg.backup.admin.archive.form.recurring.LABEL' | translate }}")
    .input-group
        +ui-select("archiveForm.recurrings")(ng-model="archiveForm.input.recurring")
            ui-select-match(placeholder="{{ 'pkg.backup.admin.archive.form.recurring.PLACEHOLDER' | translate }}")
                | {{ $select.selected.name }}
            +ui-select-choices("archiveForm.recurrings")
                span(ng-bind-html="choice.name | highlight: $select.search")
        span.input-group-btn
            button.btn.btn-default(
            type="button"
            ng-click="archiveForm.input.recurring = null"
            )
                span.fa.fa-times-circle
